@page { margin: 0px; }

body, .page_wrapper {
    background-color: #fff;
    margin: 0px;
}

.page > section {
    width: 960px; 
    height: 700px;
    position: relative;
    overflow: hidden;
    page-break-after: always;
}

.slide .page_id {
    display: none;
}