.page_wrapper {
    background-color: #ccc;
}

.page .slide {
    font-size: 24px;
    overflow: hidden;
    background-color: #FFF;
}

.slide .page_id {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
    border-radius: 15px;
    font-size: 16px;
}

.slide .header {
    background-color: #ddd;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.slide .content {
    margin: 20px;
}

.slide h1 {
    margin-top: 300px;
    text-align: center;
    font-size: 3em;
}
